
{%- assign game_data = include.series.games[include.game] -%}

{%- unless include.notitle -%}
<h4>
    {{ include.game }}
    {%- if game_data.release-date -%}
        {%- assign release_year = game_data.release-date | split: "-" | first -%}
        ({{ release_year }})
    {%- endif -%}
</h4>
{%- endunless -%}

<p>
    {%- if game_data.sub-series -%}
        {{ game_data.sub-series }}
        {% if game_data.genres.size > 0 || game_data.platforms.size > 0 %}
            | 
        {% endif %}
    {%- endif -%}
    {%- for platform in game_data.platforms %}
        <span class="badge text-bg-secondary">{{ platform }}</span> 
    {%- endfor %}
    {%- for genre in game_data.genres %}
        <span class="badge text-bg-warning">{{ genre }}</span> 
    {%- endfor %}
</p>

{%- if game_data.comment -%}
    <p>{{ game_data.comment | markdownify }}</p>
{%- endif -%}
