{%- assign game_data = include.series.games[include.game] -%}

{%- assign randos = "" | split: "" -%}
{%- for rando in include.series.randomizers -%}
    {%- assign matched = false -%}

    {%- for g in rando.games -%}
        {%- if g == include.game -%}
            {%- assign matched = true -%}
        {%- endif -%}
    {%- endfor -%}

    {%- if matched == false -%}
        {%- continue -%}
    {%- endif -%}

    {%- assign randos = randos | push: rando -%}
{%- endfor -%}

{%- if randos.size == 0 -%}
    {%- continue -%}
{%- endif -%}

{%- unless include.notitle -%}
<h4>
    {{ include.game }}
    {%- if game_data.release-date -%}
        {%- assign release_year = game_data.release-date | split: "-" | first -%}
        ({{ release_year }})
    {%- endif -%}
</h4>
{%- endunless -%}
<p>
    {%- if game_data.sub-series -%}
        {{ game_data.sub-series }}
        {% if game_data.genres.size > 0 || game_data.platforms.size > 0 %}
         | 
        {% endif %}
    {%- endif -%}
    {%- for platform in game_data.platforms %}
        <span class="badge text-bg-secondary">{{ platform }}</span> 
    {%- endfor %}
    {%- for genre in game_data.genres %}
        <span class="badge text-bg-warning">{{ genre }}</span> 
    {%- endfor %}
</p>

{%- if game_data.comment -%}
    <p>{{ game_data.comment | markdownify }}</p>
{%- endif -%}

<ul class="game-list">

{%- assign randos = randos | sort_natural: "identifier" -%}
{%- for rando in randos -%}
    {%- include rando.html rando=rando parent_name=include.game -%}
{%- endfor -%}

</ul>
